[2021-10-06 16:16] GabrielRF commented on #265
Falei dos certificados e do sprint.
Tem uma parte no meio que pode ser cortada. Precisei reler sobre os sprints.
Qualquer coisa me avisem que refaço. :)
http://gofile.me/4aexz/ZgmbPWUE3

[2021-10-06 18:12] GabrielRF commented on #248
@cecivieira
- [ ] Mudar thumbnail
- [x] Incluir na Playlist Python Brasil 2021
- [x] Mudar Categoria para Ciência e Tecnologia
- [x] Desabilitar chat da live

[2021-10-06 20:04] alynnefs commented on #265
@apast me manda pelo telegram

[2021-10-06 20:07] cecivieira commented on #265
@apast Também recebo pelo https://wetransfer.com/

[2021-10-06 20:27] apast commented on #265
Consegui!!

Apaguei vários conteúdos, spams e afins!! Já estava quase entrando no plano pago!!

@cecivieira, obrigado!! Se nao desse, eu ia publicar nos endereços.

Obrigado pela ajuda!!

[2021-10-06 20:30] apast commented on #265
@alynnefs !! Obrigado tb!! Deu certo!

[2021-10-06 22:48] cecivieira commented on #262
Sugerimos o envio das submissões e resumo curto e longo enviados no formulário de confirmação de atividade

[2021-10-06 22:48] #262 closed

[2021-10-06 22:59] #256 closed

[2021-10-06 23:03] cecivieira commented on #241
Instagram:
https://www.instagram.com/p/CUDuTBHlBoT/
Twitter:

[2021-10-06 23:13] #53 closed

[2021-10-06 23:17] alynnefs commented on #238
o link da plataforma será enviado pelo discord

[2021-10-07 00:19] #237 closed

[2021-10-07 01:19] alynnefs commented on #224
PR #273
aceito modificações, mas aí só tem a abertura, já que os roteiros das mesas são inividuais

[2021-10-07 11:33] cecivieira opened #274 "Enviar link do roteiro para anfitriãs e infra"
### Descrição
Enviar roteiro para as voluntárias de infraestrutura e anfitriãs:
pt-br: https://github.com/pythonbrasil/pybr2021-org/blob/main/roteiros/palestra-transmissao-ao-vivo.md
es: https://github.com/pythonbrasil/pybr2021-org/blob/main/roteiros/charla-transmision-en-vivo.md

### Requisitos para a atividade ser considerada como concluída

- Roteiros enviados

[2021-10-07 11:47] cecivieira opened #275 "Escrever mensagem para canal boas-vindas"
### Descrição
Escrever mensagem de boas vindas para as novas integrantes do Discord com as seguintes informações:
- regras palestra relâmpago #242 (ver regras)
- pronome
- foto
- tradução simultânea
- interprete de libras (adicionar que caso a pessoa se inscreva no tutorial e precisa de uma interprete, informe a uma das pessoas com o nome azul , que é da organizacao do evento)

### Requisitos para

[2021-10-07 11:48] cecivieira opened #276 "Escrever mensagem para canal regras"
### Descrição
Escrever mensagem de boas vindas para as novas integrantes do Discord com as seguintes informações:
- checar inscricao para ter acesso ao conteúdo do servidor
- cdc
- regras inscrições tutoriais
- regras inscrições capture a flag

### Requisitos para a atividade ser considerada como concluída

- Mensagem criada

[2021-10-07 15:00] cmdiasbr commented on #271
Thumbs prontas https://drive.google.com/drive/u/1/folders/1454eulvkOShuP5Jd9vrk9lpdxUROca-o

[2021-10-07 17:58] cecivieira commented on #270
Aguardando preenchimento do formulaŕio por parte da empresa
@tiidadavena avisa que a divulgação só ocorrerá após o prenechimento das informações via formulário

[2021-10-07 19:03] cecivieira commented on #217
![image](https://user-images.githubusercontent.com/30605862/136446587-07be2e7f-8615-4c29-89e1-744ac763b4ef.png)
![image](https://user-images.githubusercontent.com/30605862/136446600-68890f3b-fa5c-4535-8f50-9d7f979f91a8.png)
![image](https://user-images.githubusercontent.com/30605862/136446607-071d648f-6da8-4c2b-ad65-bc6087a1a755.png)
![image](https://user-images.githubusercontent.com/30605862/1364

[2021-10-07 19:13] deboraazevedo commented on #163
![IMG_20210130_141455](https://user-images.githubusercontent.com/5026063/136447569-0d46720b-646b-48a9-ab0f-e36a82db03c3.jpg)
![photo5091689150112967033](https://user-images.githubusercontent.com/5026063/136447591-b9225b73-3a6f-4fc5-b43b-6a527aff953f.jpg)
![Christiane02](https://user-images.gi
![kardec](https://user-images.githubusercontent.com/5026063/136447830-e9275b17-b2e7-4215-ad59-cf8ebc488d7f

[2021-10-07 21:03] deboraazevedo commented on #275
Olá! Boas-vindas ao Discord da Python Brasil!

Estamos muito felizes em ter você aqui! Vai aqui algumas informações importantes para todas as participantes do evento:

Pedimos para vocês colocarem uma foto no perfil e o pronome de vocês no nome que é exibido no Discord.  Aqui tem o link de um vídeo de como fazer isso:

As palestras relâmpago voltaram! São palestras de 5 minutos e podem ser sobre Q

[2021-10-07 23:22] alynnefs commented on #247
[PR pra revisão](https://github.com/pythonbrasil/pybr2021-org/pull/277)

[2021-10-08 00:17] deboraazevedo commented on #275
Olá!

Estamos nos preparando para vivenciar mais uma Python Brasil online, muito felizes em ter vocês conosco, aqui no nosso Discord! Será o local onde vamos interagir, conversar, tomar aquela cerveja e ter mais uma experiência #PyBR.

Para dar as boas-vindas, vamos deixar aqui alguns recados importantes sobre o evento:

Pedimos que todas as pessoas do nosso servidor possa colocar uma foto e seus

[2021-10-08 14:55] gabubellon opened #278 "Juntar Libras com videos de patrocinadores"
### Descrição
Juntar os videos os patrocinadores com as interpretações de Libras

### Requisitos para a atividade ser considerada como concluída

Ter as interepretrações de libras dentros dos videos os patrocinadores

https://drive.google.com/drive/folders/16itYrgzPTUGkANPMuhlpFvdII7brK9PYhST2iBCWu23gz4T0hCbQq9XU9z37MzPxFKaWBf6V

[2021-10-08 17:31] cmdiasbr commented on #271
valeu por avisar, corrigido. :)

[2021-10-08 18:10] deboraazevedo commented on #275
tô procurando ainda, vou dar scroll nas mensagens do discord pra achar

[2021-10-08 18:57] deboraazevedo commented on #276
CANAL DE REGRAS DA PYTHON BRASIL

Pedimos atenção à essa mensagem, pois são regras importantes!

1) Para ter acesso integral à todas as informações do servidor, você precisa estar inscrito da Python Brasil. Caso você não esteja inscrito, não conseguirá acessar os canais do Discord onde interagiremos durante o evento. Então, para ter acesso a o servidores, faça a sua inscrição (aqui)[bit.ly/pybr202

[2021-10-08 19:00] #276 closed, assigned to deboraazevedo

[2021-10-08 19:07] tiidadavena commented on #148
@alynnefs a Carta perguntou se o tutorial deles no dia 17/10 está confirmado

[2021-10-08 21:41] tiidadavena commented on #227
Escala da Job Fair da Buser:
[Escala Job Fair Python Brasil 2021.xlsx](https://github.com/pythonbrasil/pybr2021-org/files/7314325/Escala.Job.Fair.Python.Brasil.2021.xlsx)

[2021-10-08 21:41] tiidadavena commented on #227
@cecivieira vcs receberam o tutorial?

[2021-10-08 22:01] cecivieira commented on #263
envio de feedback para submetedoras de atividade

[2021-10-09 02:57] cecivieira opened #279 "Divulgação de tutoriais"
### Campanha
divulgação de tutoriais

### Peça/publicidade solicitada
1 cartão

### Detalhamento do uso
arte a ser usada na divulgação de todos os tutoriais

### Data prevista para uso da arte
11 out

### Quais informações devem aparecer na arte
--

### Quais formatos necessários
- [x] Quadrado
- [ ] Retangular (instagram story)
- [ ] Outro *(detalhe o formato necessário)*

### Locais para divulga

[2021-10-09 02:58] cecivieira commented on #279
@cmdiasbr comecei a fazer a arte. Dá uma olhada e faz as modificações até 09/10, por favor.
https://www.canva.com/design/DAEsShy63-Q/_W0bTcVFiJKnct3nagZ3cg/edit

Como serão em torno de 15 tutoriais, vou gerar elas com script

[2021-10-09 03:27] cecivieira opened #280 "Divulgação de sprints"
### Campanha
divulgação de sprints

### Peça/publicidade solicitada
1 cartão

### Detalhamento do uso
arte a ser usada na divulgação de todas as sprints

### Data prevista para uso da arte
13 out

### Quais informações devem aparecer na arte
No local da foto, coloca um fundo opaco, por favor, pois vai ser divulgada a logo do projeto daí um espaço com fundo branco funciona bem

### Quais formatos n

[2021-10-09 03:39] cecivieira opened #281 "Texto para facilitadoras de sprint e tutorial"
### Descrição
Redigir texto para informar detalhes sobre como ocorrerão as sprints: plataforma, horário e link para discord

### Requisitos para a atividade ser considerada como concluída

- Texto redigido
- Email enviado para categoria SPRINT do mailchimp

[2021-10-09 03:45] cecivieira commented on #281
Olá, *|NAME|*!

A Python Brasil 2021 está chegando, e a sua presença é muito importante para o evento!

Sua sprint *|TITULO|* está planejada para ocorrer nos horários *|DATA|*, *|HORARIO|* no canal de voz exclusivo para sua atividade. Por isso, solicitamos que você entre no sevidor do evento através do link XXXXXXX .

Por favor, responda este e-mail declarando estar ciente sobre a data e horário d

[2021-10-09 05:12] cecivieira commented on #271
@GabrielRF thumbnails prontas =D
Vê se tu consegue acessar a pasta

[2021-10-09 05:16] cecivieira opened #282 "Texto para envio de links de Streamyard e Discord para ministrantes"
### Descrição
Escrever texto com detalhes de acesso para streamyard e youtube

### Requisitos para a atividade ser considerada como concluída

- texto escrito
- -email enviado para tag ministrantes-pt-es

[2021-10-09 05:40] anadulce commented on #281
Olá, |NAME|!

A Python Brasil 2021 está chegando, e a sua presença é muito importante para o evento!

Sua sprint/tutorial |TITULO| está planejada para ocorrer nos horários |DATA|, |HORARIO| no canal de voz exclusivo para sua atividade. Por isso, solicitamos que você entre no servidor do evento através do link XXXXXXX .

Sugerimos que entre em contato conosco pelo Discord em caso de dúvidas. Lá voc

[2021-10-09 11:12] anadulce opened #283 "Textos dos feedbacks de palestras e tutoriais"
### Descrição

Precisamos de um texto para ser enviado para os feedbacks que contemple:
* Avaliações (https://rgth.co/pt-br/blog/modelo-de-avaliacao-das-atividades-da-python-brasil/);
* Que comentários não expressam a opinião da organização;
* Código de conduta (https://python.org.br/cdc/)

### Requisitos para a atividade ser considerada como concluída

* Texto escrito;
* Email enviado para palest

[2021-10-09 11:19] anadulce commented on #282
Olá, |NAME|! Tudo bem?

Falta pouco para a Python Brasil 2021! Esperamos que você esteja tão animada quanto nós pelo evento.

Te informamos que usaremos a plataforma StreamYard para fazer a live. Esperamos que toda a programação ocorra conforme horário planejado, por isso solicitamos que você acesse a plataforma 15 minutos antes da sua palestra usando esse link: |STREAMYARD|.

Pedimos que você ass

[2021-10-09 11:42] tiidadavena commented on #227
Ticket 7619 no Freshdesk

[2021-10-09 14:33] alynnefs commented on #258
No contrato diz que a gente vai enviar a documentação referente ao tema com no mínimo 5 dias de antecedência de 5 dias :(
Acham que dá problema?

Tem espaço pra mais uma testemunha, a gente precisa? Se sim, daqui a pouco gero e envio pra @cecivieira

[contrato assinado](https://drive.google.com/file/d/1uv_26jONpeDVtqszezvIO8tFyNvKDrJd/view?usp=sharing)

[2021-10-09 15:39] cecivieira commented on #282
(es)
¡Hola | NOMBRE |!

¡Falta poco para Python Brasil 2021! Esperamos que estés tan emocionado como nosotros con el evento.

Te informamos que usaremos la plataforma StreamYard para hacer la transmisión en vivo. Esperamos que toda la programación se lleve a cabo según lo programado, por lo que le pedimos que acceda a la plataforma 15 minutos antes de su charla mediante este enlace: | STREAMYARD |

[2021-10-09 15:40] cecivieira commented on #282
@alynnefs esses detalhes técnicos estão no vídeo e na live de hoje, também nas rondas de teste de áudio e vídeo que faremos

[2021-10-09 15:56] #271 closed

[2021-10-09 16:06] cecivieira commented on #269
### Descrição
Cumprir compromissos com patrocinadora.

### Requisitos para a atividade ser considerada como concluída

(template #138)

**Prata**
- [ ] Agradecimento no início de cada dia de evento
- [x] Exposição da marca no site
- [ ] Exposição da marca durante os intervalos das palestras
- [ ] Exposição da marca na abertura das palestras (versão final do vídeo a ser upado para o youtube)
- [x]

[2021-10-09 16:37] anadulce commented on #283
@cecivieira  então, diversidade é gênero, raça, orientação sexual, palestrantes novos, não ter palestrantes com mais de uma palestra, tentei também levar em conta as regiões de origem, e por serem tantas coisas e ficar longo, não pretendia listar não, acho que pra isso vale um artigo igual ao da avaliação. Coloquei diversidade de palestrantes porque implica que consideraremos as pessoas envolvidas

[2021-10-09 17:10] anadulce commented on #163
Para a mesa da APyB, eu divulgaria só a logo da associação, e no máximo a imagem do presidente. Assim não temos questões com convidados não confirmados.

[2021-10-09 17:12] cecivieira commented on #163
![image](https://user-images.githubusercontent.com/30605862/136667969-ef714559-73df-4041-aea0-373b5d507686.png)

[2021-10-09 17:19] cecivieira commented on #163
![image](https://user-images.githubusercontent.com/30605862/136668217-63f716a6-5253-424e-b6ff-035a20ebfe72.png)
![image](https://user-images.githubusercontent.com/30605862/136668225-5adb36d2-18b1-4fbb-952c-9e3b39b0e507.png)
![image](https://user-images.githubusercontent.com/30605862/136668230-2bcf9e7a-5ce0-41d3-8482-1749d1a79a8a.png)

[2021-10-09 17:40] cecivieira commented on #163
![image](https://user-images.githubusercontent.com/30605862/136668726-d1311b99-d21e-42c1-b878-ee39de4fb109.png)
A importância da associação/associados e a comunidade na pandemia
![image](https://user-images.githubusercontent.com/30605862/136668754-5697a04e-b555-47fb-acde-bbe98a1f3ed9.png)

@deboraazevedo @dandaramcsousa agenda essas postagens das rodas de dados abertos e apyb, por favor

[2021-10-09 18:33] #282 closed, assigned to anadulce, cecivieira

[2021-10-09 19:10] alynnefs commented on #227
na grade tava só Job Fair, mas a Ceci tá fazendo 💙

[2021-10-09 23:05] Flaviasv commented on #163
@deboraazevedo  resumo da roda de conversa sobre dados abertos:

Vamos falar sobre a importância dos dados abertos e como eles podem influenciar na sociedade e na comunicação, promovendo o empoderamento e controle social através da  transparência. Além disso, nossos convidados vão abordar os impactos de inovações cívicas e da cultura de dados no contexto atual e seus possíveis desdobramentos.

[2021-10-10 01:35] alynnefs opened #284 "Pedir feedback para repassar ao time de LIBRAS"
### Descrição
Pedir feedback no primeiro dia para ver o que pode ser melhorado

### Requisitos para a atividade ser considerada como concluída
- Feedback feito
- Feedback enviado à fornecedora

[2021-10-10 12:02] lskbr opened #285 "Corrigir links para programação de sábado e domingo no site"
Ao acessar https://2021.pythonbrasil.org.br/grade
Clique em sábado ou domingo, aparece:
Application error: a client-side exception has occurred (see the browser console for more information).

Olhando no console do browser, aparecem várias vezes erros do tipo:
TypeError: Cannot read properties of undefined (reading 'base')

Testado com Google Chrome no Windows 10 e Safari no iPhone.

[2021-10-10 12:07] lskbr opened #286 "Adicionar link da página principal para a grade de programação"
No página principal do site: https://2021.pythonbrasil.org.br/

No meio da página, seção PROGRAMAÇÃO:

**Aguarde que estamos preparando a melhor grade de eventos pra vocês.**

- A programação já está disponível, mas não há link.

Quando acessamos de um computador, o link fica bem visível no topo da página, mas em celular, tem que abrir o menu para ver o link para programação. Eu mesmo acessei vári

[2021-10-10 16:45] #285 closed, assigned to nobody

[2021-10-10 17:15] cecivieira commented on #281
email enviado

[2021-10-10 17:15] #281 closed

[2021-10-10 17:54] lskbr commented on #286
Opa @cecivieira, a página continua com o mesmo problema, não foi corrigido.
Se você não vai fazer, talvez outra pessoa possa fazer depois e mandar um PR. Eu detesto alterar página Web.
Não significa que o issue não exista. Um won't fix seria mais apropriado se vocês decidirem não mudar e ignorar.

[2021-10-11 13:36] alynnefs opened #287 "Adicionar vídeo de abertura no youtube"
### Descrição
Como travou na hora, algumas informações não foram repassadas. Precisamos colocar o vídeo no youtube para que possam receber essas informações

### Requisitos para a atividade ser considerada como concluída
- Vídeo no youtube
- avisar participantes (?)

[2021-10-11 22:02] alynnefs commented on #184
nota fiscal enviada, depois edito com o link

[2021-10-12 02:59] #278 closed, assigned to gabubellon, tiidadavena, alynnefs

[2021-10-12 02:59] alynnefs commented on #275
Ainda precisam dessa issue ou posso fechar?

[2021-10-12 03:02] #275 closed

[2021-10-12 03:07] alynnefs commented on #258
[contrato assinado com testemunha](https://drive.google.com/file/d/1yPsOT6UvuAW9E_5k_6zINm4IXlUo9Zsr/view?usp=sharing)

@cecivieira depois você pode enviar?

[2021-10-13 01:53] alynnefs opened #289 "[Reunião] Geral: 12 de outubro de 2021"
# Reunião <Grupo de trabalho ou tema da reunião>

- Data: 12 de outubro de 2021
- Participantes:
  - Alynne (@alynnefs)
  - Ana Cecília (@cecivieira)
  - Ana Dulce (@anadulce)
  - Dandara (@dandaramcsousa)
  - Débora (@deboraazevedo)
  - Flavinha (@flaviasv)
  - Gabu (@gabubellon)
  - Juliana (@tiidadavena)
  - Juliany (@julianyraiol)
  - Marco (@rougeth)
  - Murilo (@muriloviana)

## Acompanhamen

[2021-10-13 02:04] #265 closed

[2021-10-13 02:05] alynnefs commented on #287
https://www.youtube.com/watch?v=O7rd1BwkRT8

[2021-10-13 02:05] #287 closed

[2021-10-13 02:07] #267 closed

[2021-10-13 02:07] #261 closed

[2021-10-13 02:08] #260 closed

[2021-10-13 02:08] #259 closed

[2021-10-13 02:11] #247 closed, assigned to alynnefs

[2021-10-13 02:11] alynnefs commented on #246
Estão sendo feitos individualmente e já enviei os patrocinadores para todos os mediadores

[2021-10-13 02:12] #232 closed

[2021-10-13 02:53] alynnefs commented on #225
sortear livros (cc @gabubellon)

[2021-10-13 02:54] alynnefs commented on #225
@lskbr qual o tamanho do vídeo? manda pra gente pra subir no streamyard, porque compartilhar direto não deu muito certo

[2021-10-14 01:22] tiidadavena commented on #148
@alynnefs @mazulo Morada avisando do pagamento para a equipe da Carta
![427DF451-A3BC-458D-A47C-9387C155F6A6](https://user-images.githubusercontent.com/12106738/137234551-4026945f-58ff-4009-b170-26892a3cf6b9.jpeg)

[2021-10-14 03:01] gabubellon commented on #137
não tenho escrita na leitura

[2021-10-16 13:46] cecivieira commented on #263
Gabu Bellon | He/Ele — hoy a las 10:45
Post Mortem : Preparam ambiente online e tutorial antes
[10:45]
Post Mortem : Exigir de patrocinadores ouros pessoas para ajudarem em partes da org

[2021-10-16 14:04] gabubellon commented on #263
Fazer uma reunião pos evento  com palestrantes e ministrantes para pegar feedbacks e principalemente OUVIR a organização

[2021-10-16 18:31] tiidadavena commented on #263
Seria interessante dar mais autonomia aos ministrantes para a inscrição e controle de acesso às atividades práticas? Neste caso,  a Organização entraria como suporte.

[2021-10-17 16:16] cecivieira opened #292 "[Reunião] Geral: 17 out. 2021"
_[Remover antes de abrir o ticket] Este template deve ser editado com os itens a serem discutidos durante a reunião. Toda colaboração é bem vinda. Durante a reunião devem ser registradas as participantes e as decisões tomadas, caso hajam informações sensíveis, deve ser criado um arquivo no [Google Drive da organização da Python Brasil 2021](https://drive.google.com/drive/folders/18zvyKpV42k_n_8Sr4

[2021-10-17 19:28] rougeth opened #293 "Definir tempos de cortes de todas as atividades do evento"
### Descrição
Na transmissão das palestras, durante a Python Brasil, foi criado um stream por trilha e por dia (com algumas exceções). Isso resultou em vídeos no YouTube, contendo múltiplas palestras. Keynotes e palestras relâmpago também estão juntas nos mesmo vídeos. Já as mesas redondas, foram feitas sozinhas, porém, ainda é possível ver partes no início e fim que podem ser cortados.

Para que

[2021-10-17 19:28] rougeth opened #294 "Definir tempos de corte: 10/12 - Marie Van Brittan Brown"

[2021-10-17 19:28] rougeth opened #295 "Definir tempos de corte: 10/12 - Angelica Ross"

[2021-10-17 19:28] rougeth opened #296 "Definir tempos de corte: 10/12 - Timnit Gebru"

[2021-10-17 19:28] rougeth opened #297 "Definir tempos de corte: 10/12 - Bonnie Prado Pinto"

[2021-10-17 19:28] rougeth opened #298 "Definir tempos de corte: 10/12 - Shirley Ann Jackson"

[2021-10-17 19:28] rougeth opened #299 "Definir tempos de corte: 10/12 - Mesa redonda, Palestra relâmpago e Keynote"

[2021-10-17 19:29] rougeth opened #300 "Definir tempos de corte: 10/13 - Marie Van Brittan Brown"

[2021-10-17 19:29] rougeth opened #301 "Definir tempos de corte: 10/13 - Angelica Ross"

[2021-10-17 19:29] rougeth opened #302 "Definir tempos de corte: 10/13 - Timnit Gebru"

[2021-10-17 19:29] rougeth opened #303 "Definir tempos de corte: 10/13 - Bonnie Prado Pinto"

[2021-10-17 19:29] rougeth opened #304 "Definir tempos de corte: 10/13 - Shirley Ann Jackson"

[2021-10-17 19:30] rougeth opened #305 "Definir tempos de corte: 10/13 - Mesa redonda, Palestra relâmpago e Keynote"

[2021-10-17 19:30] rougeth opened #306 "Definir tempos de corte: 10/14 - Marie Van Brittan Brown"

[2021-10-17 19:30] rougeth opened #307 "Definir tempos de corte: 10/14 - Angelica Ross"

[2021-10-17 19:30] rougeth opened #308 "Definir tempos de corte: 10/14 - Timnit Gebru"

[2021-10-17 19:30] rougeth opened #309 "Definir tempos de corte: 10/14 - Bonnie Prado Pinto"

[2021-10-17 19:30] rougeth opened #310 "Definir tempos de corte: 10/14 - Shirley Ann Jackson"

[2021-10-17 19:30] rougeth opened #311 "Definir tempos de corte: 10/14 - Mesa redonda, Palestra relâmpago e Keynote"

[2021-10-17 19:30] rougeth opened #312 "Definir tempos de corte: 10/15 - Marie Van Brittan Brown"

[2021-10-17 19:30] rougeth opened #313 "Definir tempos de corte: 10/15 - Angelica Ross"

[2021-10-17 19:30] rougeth opened #314 "Definir tempos de corte: 10/15 - Timnit Gebru"

[2021-10-17 19:30] rougeth opened #315 "Definir tempos de corte: 10/15 - Bonnie Prado Pinto"

[2021-10-17 19:30] rougeth opened #316 "Definir tempos de corte: 10/15 - Shirley Ann Jackson"

[2021-10-17 19:30] rougeth opened #317 "Definir tempos de corte: 10/15 - Mesa redonda, Keynote e Encerramento"

[2021-10-17 19:32] cecivieira commented on #148
@alynnefs @tiidadavena tem alguma pendência de documentação e pagamento com esse patrocinadora?

[2021-10-17 19:34] alynnefs commented on #137
@gabubellon não entendi

[2021-10-17 19:38] alynnefs commented on #148
@cecivieira precisa ver se o pagamento já foi feito. Pelo que entendi, só passaram pra área responsável

[2021-10-17 19:53] gabubellon commented on #292
Solicitar ao ministrantes links e materiais para ser colocado no site

[2021-10-17 19:54] gabubellon commented on #292
Validar pagamentos mais urgentes de fornedores:
* Libras
* Simultanea

[2021-10-17 19:54] gabubellon commented on #292
O que temos que cancelar ?
* Discord Nitro
* StreamYard
* Hydrabot
* Canvas

[2021-10-17 19:55] gabubellon commented on #292
Agendar data (bastante tempo) para os postmortem

[2021-10-17 19:55] gabubellon commented on #292
Certificados
* Ponto principal ferramenta demail
* No máximo Domingo que vem
(e 2020 ???)

[2021-10-17 20:25] gabubellon commented on #292
Custos:
* Planilha de Fluxo de Caixas

[2021-10-17 20:36] gabubellon commented on #292
Dinamica de contato e reuniões pos Python Brasil

[2021-10-17 20:45] cecivieira commented on #148
@mazulo o pagamento foi recebido?

[2021-10-17 20:57] #163 closed

[2021-10-17 20:58] #164 closed

[2021-10-17 21:11] cecivieira commented on #179
@belaaiza o script será publicado no github?
Se sim, poderia colocar o link aqui e fechar a issue?

[2021-10-17 21:12] cecivieira commented on #178
@anadulce o script será publicado no github?
Se sim, poderia colocar o link aqui e fechar a issue?

[2021-10-17 21:13] cecivieira commented on #184
@alynnefs qual a previsão para recebimento do dinehiro? Tem alguma pendencia de documentação?

[2021-10-17 21:14] cecivieira commented on #192
Readme atualizado

[2021-10-17 21:15] cecivieira commented on #292
#137

[2021-10-17 21:20] cecivieira opened #318 "Pagamento intérpretes de Libras"
### Descrição
Realizar pagamento para a empresa de Libras.

### Requisitos para a atividade ser considerada como concluída

- Nota fiscal enviada para ApyB
- Pagamento realizado

[2021-10-17 21:22] cecivieira opened #319 "Pagamento tradução simultânea"
### Descrição
Realizar pagamento para a empresa de tradução simultânea.

### Requisitos para a atividade ser considerada como concluída

- Nota fiscal enviada para ApyB
- Pagamento realizado

[2021-10-17 21:24] #250 closed

[2021-10-17 21:29] cecivieira commented on #284
A atividade é de "pedir". Então, essa atividade está concluida

[2021-10-17 21:29] #283 closed

[2021-10-17 21:30] #280 closed

[2021-10-17 21:30] #279 closed

[2021-10-17 21:34] #253 closed

[2021-10-17 21:34] alynnefs commented on #263
ferramenta de envio em massa

[2021-10-17 21:35] cecivieira commented on #292
#157

[2021-10-17 21:41] #137 closed

[2021-10-17 21:44] #11 closed

[2021-10-17 21:55] gabubellon commented on #292
* Fechar Inscrições
* Mandar $$ Para APyb e Mães Da Favela
* Prestar contas oficialmente

[2021-10-17 22:22] gabubellon commented on #292
PyDados

[2021-10-17 22:25] cecivieira commented on #292
Marcar próxima reunião

[2021-10-17 22:29] cecivieira opened #320 "Realizar doação para Mães da Favela"
### Descrição
Viabilizar que todo o dinheiro arrecadado durante o evento (líquido R$14.337,20) seja doado para o projeto Mães da Favela.

### Requisitos para a atividade ser considerada como concluída

- Sacar dinheiro do EventBrite para ApyB
- Enviar dinheiro para Mães da Favela

[2021-10-17 22:30] cecivieira commented on #143
@cmdiasbr seria possível fazer essa arte? Acredito que vamos realizar a doação até o final do mês

[2021-10-17 23:35] cecivieira commented on #157
@mazulo inserir como ponto na pauta para próxima assembleia da ApyB a aprovação do uso do dinheiro excedente (total arrecadado em patrocínio menos o valor gasto para viabilização do evento) para beneficiar financiamentos coletivos que atendam os seguintes critérios:

- Levar grupos sub representados e baixo poder aquisitivo para PyBr2022;
- Fazer prestação de conta pública;
- Ter CNPJ;
- Aceitar a

[2021-10-17 23:37] #157 closed

[2021-10-17 23:59] jtemporal commented on #294
Quero ajudar 😉

[2021-10-18 00:11] cecivieira opened #321 "Definir critérios específicos para distribuição do dinheiro excedente"
### Descrição
Caso a proposta da issue #157 seja aprovada na assembleia da ApyB, estabelecer critérios específicos como: descrever perfis a serem beneficiados e distribuição percentual para cada um, data limite de abertura da campanha de financiamento coletivo, etc.

### Requisitos para a atividade ser considerada como concluída

- Definir critérios específicos

[2021-10-18 11:58] rougeth opened #323 "Atualizar Discord para modo leitura"
### Descrição
- Alterar todos os canais de texto para apenas leitura.
- Manter permissão da organização
- Não alterar cargo das participantes

[2021-10-18 12:06] cecivieira commented on #143
@cmdiasbr aham
Só vai ser ela a beneficiada

[2021-10-18 16:26] cecivieira opened #324 "Criar formulário para coletar dados sociocultural da organização"
### Descrição
Criar formulário para coletar dados sociocultural da organização. Podem ser aproveitadas a maior parte das perguntas das submissões de atividades (https://docs.google.com/forms/d/1f-A2C7ujiC9Zuzmcr0cuROIyVRssYX2lZbSNhFlp1GQ/edit?usp=sharing)

### Requisitos para a atividade ser considerada como concluída

- Formulário enviado para organização

[2021-10-18 17:17] gabubellon opened #325 "Adicionar slides de encerramento e video de proporção de pessoas no site"
* Adicionar slides https://drive.google.com/file/d/1oKvh9DMoGp7oxc3pIcDe8BamkutU9GXe/view?usp=sharing
* Adicionar videos https://drive.google.com/file/d/1oKvh9DMoGp7oxc3pIcDe8BamkutU9GXe/view?usp=sharing

Ambos ao site igual foi feita com a foto odicial

[2021-10-18 17:50] alynnefs commented on #185
@cecivieira não, falta "só" a parte burocrática do banco

[2021-10-18 18:09] gabubellon commented on #216
Então @alynnefs  para os inscritos não precisa, e só para quem não tem a role
Vamos ter que decidir se damos certificados para inscritos ou pra quem tem role

TODO: Adicionar carimbo de data-hora na inscrição

[2021-10-18 19:17] eduardobonet commented on #251
Foram? não recebi nada de nenhuma das palestras submetidas

[2021-10-18 19:20] #294 closed, assigned to jtemporal

[2021-10-18 19:35] alynnefs opened #326 "Reunir métricas e enviar para patrocinadores"
### Descrição
Devemos coletar métricas de alcance para enviar aos patrocinadores e incentivar a doação em anos posteriores.
Usando os [dados abertos](https://github.com/pythonbrasil/dados/tree/main/dados), mas talvez de forma mais legível e com as outras informações

### Requisitos para a atividade ser considerada como concluída

- [x] YouTube
- [x] #327
- [x] #328
- [x] #329

[2021-10-18 20:47] #301 closed

[2021-10-18 21:45] rougeth opened #327 "Inscritos"

[2021-10-18 21:45] rougeth opened #328 "Publicar dados do Discord"

[2021-10-18 21:45] rougeth opened #329 "Métricas de postagens"

[2021-10-18 22:49] gabubellon commented on #318
@alynnefs @mazulo https://docs.google.com/document/d/1m0wOWTevblxH17K-2KZeP_erLBExOBPj/edit#heading=h.gjdgxs
Segue o aditivo
@alynnefs da minha parte ok, mas precisamos assinar , ainda temos como assinar digitalmente
@mazulo Aditivo sendo assinado e note sendo emitida envio ao financeiro

[2021-10-18 22:49] gabubellon commented on #318
@mazulo confimado pagamento das 2 notas fiscais restante falta apenas atidivo

[2021-10-18 23:23] gabubellon commented on #325
Add slides https://github.com/pythonbrasil/pybr2021-site/pull/80

[2021-10-19 01:59] russianbb commented on #306
Quero ajudar
;)

[2021-10-19 02:00] russianbb commented on #307
Quero ajudar

[2021-10-19 02:00] russianbb commented on #309
Quero ajudar

[2021-10-19 09:13] rougeth commented on #307
Link para download enviado no privado, obrigado @russianbb!

[2021-10-19 13:12] muriloviana commented on #304
Posso ajudar nessa issue o/

[2021-10-19 13:12] muriloviana commented on #313
Posso ajudar nessa issue o/

[2021-10-19 13:13] muriloviana commented on #317
Posso ajudar nessa issue o/

[2021-10-19 13:26] gabubellon opened #330 "Formulário de Feedback Geral"
Pegar feedback do evento

- [x] Criar formulário 2021
- [x] Adcionar perguntas de libras
- [x] Validar perguntas de libras com Tiago e Debora
- [x] Enviar formulário por eventbrite e Discord
- [ ] Enviar para outros lugares ??
- [ ] Validar e limpar respostas
- [ ] Subir respostas em dados do ano

[2021-10-19 14:11] gabubellon commented on #330
@cecivieira https://drive.google.com/drive/u/0/folders/1j0SUWv0g1UnZEGSryjuSc7g5nUxKH5Qi

[2021-10-19 14:34] alynnefs commented on #263
início do que foi feito no domingo

[code]

seria bom criar um documento compartilhado, já que devemos preencher até dia 23/10

[2021-10-19 16:00] #305 closed, assigned to muriloviana

[2021-10-19 16:10] #303 closed, assigned to tiagobpires

[2021-10-19 17:33] alynnefs commented on #329
@cecivieira, @flaviasv, @deboraazevedo sabem dizer se o hootsuite diz o alcance das postagens? ou a gente olharia isso manualmente?

[2021-10-19 18:50] gabubellon commented on #311
rougeth/calendaryo/pull/94

[2021-10-19 20:26] gabubellon commented on #320
@mazulo isso foi uma pergunta ? Como devemos proceceder ? A APyB faz essa ponto ou a organização precisa ?

[2021-10-19 20:34] gabubellon commented on #330
@cecivieira @anadulce adicionei 3 perguntas de libras
@cecivieira  não deveriamos traduzir pra espanhol ?

[2021-10-19 20:44] cecivieira commented on #330
@gabubellon Sim, tava esperando a validação de todas para fazer isso
Posso fazê-lo?

[2021-10-19 20:44] cecivieira commented on #330
Acho que @rougeth também tava querendo dá uma olhada nesse formulário

[2021-10-19 22:04] gabubellon commented on #326
@alynnefs vamos puxar sprint e focar nisso amanhã

[2021-10-19 22:59] gabubellon commented on #320
@alynnefs @mazulo acho que precisamos mandar email para contato@maesdafavela.com.br

[2021-10-19 23:11] gabubellon opened #332 "Participantes PyBR"
- [x] Separar emails de participantes
- [x] Gerar certificados participantes
- [x] Enviar certificados participantes
- [ ] Tratar execessões de envio

[2021-10-19 23:11] gabubellon opened #333 "Participantes Tutorial"
- [x] Ter a lista e participantes de cada tutorial
- [x] Criar arte para participantes de tutorias com tempo espaço para o nome do tutorial
- [x] Coletar email e nome de cada participantes
- [x] Gerar certificados
- [ ] Enviar certificados
- [ ] Tratar excessões

[2021-10-19 23:12] gabubellon opened #334 "Ministrantes"
- [ ] Pegar info de ministrantes
- [ ] Criar arte de certificado de ministrantes
- [ ] Gerar certificado de ministranes
- [ ] Enviar certificados
- [ ] Tratar certificados

[2021-10-19 23:12] gabubellon opened #335 "Voluntários"
- [ ] #337
- [ ] Criar arte de certificados
- [ ] Criar certificados com base no formulário de voluntários
- [ ] Enviar certificados
- [ ] Tratar execessões

[2021-10-19 23:12] gabubellon opened #336 "Organização"

[2021-10-19 23:19] gabubellon commented on #216
Crieie issos em paraleo para isso

[2021-10-19 23:22] gabubellon commented on #333
@rougeth separei os user por tutorial aqui, precisamos enviar mensagens em privado pra eles
https://drive.google.com/file/d/15_Q1_QhREXx8p5lLnI76YoQ8W6So-zls/view?usp=sharing

@alynnefs vamos considerar qual regra ?
* role + inscrição ?
* Só role ?
* Raspar as mensagens da sala ???

[2021-10-19 23:26] alynnefs commented on #333
Eu iria por role, só preciso criar pra sábado de manhã. Posso fazer daqui a pouco

[2021-10-19 23:33] liviocunha commented on #316
Tranquilo @rougeth, se a @camont1 quiser posso fazer. Acabei de submeter o #315, então estou livre.

[2021-10-19 23:33] gabubellon opened #337 "Criar formulário para coletar dados sociocultural de voluntários"
Descrição

Criar formulário para coletar dados sociocultural de voluntários. Podem ser aproveitadas a maior parte das perguntas das submissões de atividades (https://docs.google.com/forms/d/1f-A2C7ujiC9Zuzmcr0cuROIyVRssYX2lZbSNhFlp1GQ/edit?usp=sharing)
Requisitos para a atividade ser considerada como concluída

    Formulário enviado para voluntários

[2021-10-19 23:58] gabubellon opened #338 "Organaizar Google Drive"
Organizar a casa antes de entregar as chaves
* Tem formularios espalhados
* Tem planilha espalhadas

Deixar tudo organizado de maneira clara e objetiva com contexto e tipo

[2021-10-20 00:12] gabubellon commented on #324
@cecivieira criado em https://docs.google.com/forms/d/11jkRF-56AaEOchApRjZQQOY7bq9e4zU5UWMti3rbBl4/edit

[2021-10-20 00:20] gabubellon commented on #337
https://docs.google.com/forms/d/11jkRF-56AaEOchApRjZQQOY7bq9e4zU5UWMti3rbBl4/edit

[2021-10-20 00:50] #315 closed

[2021-10-20 00:50] #311 closed

[2021-10-20 09:47] rougeth commented on #307
Valeu @russianbb!

[2021-10-20 09:47] #307 closed

[2021-10-20 14:11] anadulce commented on #330
@cecivieira e @gabubellon eu acho que deveríamos tratar a opção de ser online no ano que vem de uma forma menos enfática, porque acho que isso pode pressionar/desmotivar a org de lá.
É uma informação legal sim, mas com menos ênfase. Ano passado essa pergunta fazia mais sentido porque tínhamos mais insegurança em relação à pandemia, esse ano a situação é diferente.

[2021-10-20 15:24] gabubellon commented on #333
@alynnefs @rougeth @anadulce @cecivieira

[2021-10-20 15:27] gabubellon commented on #337
@cecivieira se sim traduz por favor

[2021-10-20 17:06] gabubellon commented on #333
https://docs.google.com/forms/d/1SiOQmDFymP3to8wC2W3OuSxmqj4333DVRIZ0x6bPhvw/edit

[2021-10-20 19:03] jtemporal commented on #297
Pr feito:
- https://github.com/rougeth/calendaryo/pull/99

[2021-10-20 19:27] jtemporal commented on #299
pr feito:

- https://github.com/rougeth/calendaryo/pull/101

[2021-10-20 19:59] cecivieira commented on #320
Gabu, tu poderia informar o valor exato de arrecadação no Evento Brite?
Além disso, proceder o resgate para a ApyB?

Assim que tu der o ok do resgate e informar o valor, entro em contato com a
ONG

El mar., 19 oct. 2021 19:59, Gabriel (Gabu) Bellon ***@***.***>
escribió:

[2021-10-20 20:40] #299 closed

[2021-10-20 20:41] #298 closed, assigned to jtemporal

[2021-10-20 20:41] #297 closed, assigned to jtemporal

[2021-10-20 22:05] jsbueno commented on #263
tutoriais - sobre ter um documento sobre "como gerenciar a sala" para os ministrantes - será que as salas precisam ter as restriçoes padrao que tiveram? se o host tiver o poder de silenciar alguem, nao precisam entrar todos no mudo, por exemplo.

eu confesso que tive dois dias de atividade e nao consegui usar as salas pre-programadas - os participantes estavam mudos e continuaram mudos - em um dos

[2021-10-21 00:26] anadulce commented on #251
Boa noite, @eduardobonet! Tudo bem?

Enviei feedback para suas palestras "Cienstista de Dados & Engenheiro de Dados & Cientista de Engenheiro de Aprendizado e Máquina& Engenheiro de Aprendizado e Máquina: Entendendo a modernização das profissões na área de dados", "MLOps: Machine Learning em Produção" e "Minimum Viable Accuracy: Conectando to time de Machine Learning ao objetivo de Negócios" no en

[2021-10-21 10:55] gabubellon commented on #327
Dados sendo limpos em https://docs.google.com/spreadsheets/d/193eN7tdaHJv_9RdYiMj2-9tIHMgSf_sB14PlQ6XkXGU/edit#gid=760944002

[2021-10-21 14:17] cecivieira commented on #329
O período escolhido foi a partir da assinatura do nosso plano até hoje

[2021-10-21 15:37] cecivieira commented on #330
[code]

[2021-10-21 20:55] #302 closed, assigned to mhadaniya

[2021-10-21 20:55] #308 closed, assigned to russianbb

[2021-10-21 20:56] #309 closed

[2021-10-21 22:55] #328 closed, assigned to rougeth

[2021-10-22 14:48] gabubellon opened #339 "Envio de Livros para ganhadores de palestras Relâmpagos"
Realizar todo processo para enviar os livros para quem apresentou palestra relampago

- [x] Criar formulário de captação de dados para envio;
- [x] Entrar em contato pelo Discord e avisar nas redes sociais que estamos buscando essas pessoas;
- [x] Validar formulário
- [x] Elencar lista de livros e para quem irá o mesmo
- [x] Realizar levantamento financeiro e centralização dos valores em uma pesso

[2021-10-23 17:43] gabubellon opened #341 "[Reunião] Pos Evento : 2021-10-23"
# Reunião Pos Evento

- Data:  2021-10-23
- Participantes:
  - Nome e Sobrenome (@Github ou E-mail)
  - Alynne Ferreira (@alynnefs)
  - Gabu Bellon (@gabubellon)
  - Gabriel RF (@gabrielRF)
  - Rougeth (@rougeth)
  - Flavinha (@flaviasv)
  - Juliany (@julianyraiol)
  - Murilo (@muriloviana)
  - Ana Dulce (@anadulce)
  - Ana Cecília (@cecivieira)

## Acompanhamento das tarefas

- [ ] Verificar [tar

[2021-10-23 18:32] #329 closed, assigned to nobody

[2021-10-23 19:15] #314 closed, assigned to nobody

[2021-10-23 19:15] #312 closed, assigned to nobody

[2021-10-23 20:05] #341 closed, assigned to nobody

[2021-10-24 12:44] #293 closed, assigned to nobody

[2021-10-24 13:41] #323 closed, assigned to rougeth

[2021-11-04 15:41] mazulo commented on #319
@alynnefs sim, no pedido de pagamento você enviou o boleto e a NF. O pagamento já foi feito também, mas acho que esqueci de responder por email. Enviei agora junto com o link do comprovante.

[2021-11-04 18:00] alynnefs commented on #320
Boleto solicitado [no ticket](https://pythonbrasil.freshdesk.com/a/tickets/7856)

[2021-11-17 12:00] tiidadavena opened #343 "Formulário de Feedback das Empresas Patrocinadoras"
### Descrição
*Montar e enviar para as empresas patrocinadoras o formulário de feedback a fim de mapear pontos de melhoria e obter uma visão geral da experiência de patrocinar a PyBR 2021.*

### Requisitos para a atividade ser considerada como concluída

*Por exemplo: "-Form salvo no Drive da organização."*

- Estabelecer prazo para preenchimento pela empresa (7 dias úteis ?)
- Quem deve preencher

[2021-11-21 11:49] gabubellon commented on #339
Todos os livros entregues

[2021-11-21 11:49] #339 closed

[2021-11-21 12:04] gabubellon commented on #333
Dados coletados em https://docs.google.com/spreadsheets/d/1Eqjb58VZm80Iben9fH0_YSp_w9FDt_Xbit8ZCqBTW1o/edit#gid=39661316

[2021-11-21 14:45] gabubellon commented on #333
Certificados gerados em https://docs.google.com/spreadsheets/d/1Eqjb58VZm80Iben9fH0_YSp_w9FDt_Xbit8ZCqBTW1o/edit#gid=942311275

@anadulce consegue enviar ?

[2021-11-23 21:19] alynnefs commented on #343
@tiidadavena ta precisando de alguma ajuda?

[2021-11-23 21:19] alynnefs commented on #338
seria bom colocar no drive de eventos@ também

[2021-11-23 21:20] alynnefs commented on #337
@gabubellon a gente chegou a enviar o formulário?

[2021-11-23 21:22] alynnefs commented on #216
Posso marcar o de participantes como enviado? Se não me engano, só faltam os certificados que pedem a duração do evento

[2021-11-23 21:23] alynnefs commented on #335
@gabubellon @cecivieira tendo a arte original, consigo modificar. Sabem se tá no Canva ou no Drive?

[2021-11-23 21:24] alynnefs commented on #333
@anadulce deu certo o envio?

[2021-11-23 21:26] alynnefs commented on #326
@tiidadavena precisa de ajuda pra reunir esses dados e enviar aos patrocinadores?
Aliás, vamos mesmo enviar para eles?

[2021-11-23 21:28] alynnefs commented on #325
@gabubellon era pra adicionar só no repositório ou em algum lugar do site também?

[2021-11-23 21:31] alynnefs commented on #139
atualizado de acordo com o status de hoje (23/11)

[2021-11-23 21:32] alynnefs commented on #178
@belaaiza o script foi publicado? tem como anexar o link aqui?

[2021-11-23 21:32] alynnefs commented on #178
@anadulce o script foi publicado? tem como anexar o link aqui?

[2021-11-23 21:33] alynnefs commented on #179
@belaaiza colocou o script em algum repositório? pode enviar aqui?

[2021-11-23 22:15] gabubellon commented on #337
@alynnefs  não, não tive validação nem tradução, tá parado

[2021-11-23 22:16] gabubellon commented on #216
@alynnefs Pode, mas os que pedem hora fica beeem por ultimo

[2021-11-24 00:57] cecivieira commented on #43
Acredito que a remuneração da equipe pode ser ponto de pauta para próximos eventos.
Para esse eu consideraria todo o trabalho como voluntário

[2021-11-24 01:11] tiidadavena commented on #343
Queria iniciar o form com um mini roteiro e entender o que precisamos coletar das empresas, como, por exemplo, nome da empresa, cota, função.

Link do Forms: https://docs.google.com/forms/d/1dIMTLDrTkI5ETpqjwoCCDZ0B9WgS4PXmRfo4Buyy9jc/edit?usp=sharing

[2021-11-24 01:30] cecivieira commented on #148
@mazulo @alynnefs vocês poderiam atualizar o status desse patrocínio?

[2021-11-24 01:31] cecivieira commented on #148
Acho que não fui explícita na mensagem anterior, então refaço:

Vocês poderiam informar aqui na issue como está o andamento do recebimento desse patrocínio? Em que etapa está? Qual a pendencia?

[2021-11-24 01:31] alynnefs commented on #148
@cecivieira não achei o pagamento no extrato, mas a NF já foi enviada. Tem como conferir pra ver se deixei passar?

[2021-11-24 01:33] cecivieira commented on #148
@alynnefs a entrada de dinehiro não consta no extrato.

@tiidadavena tu poderia fazer contato com a empresa para saber como está o processo?

[2021-11-24 01:36] cecivieira commented on #184
@alynnefs @tiidadavena quando farão os 60 dias de prazo para a empresa realizar o pagamento do patrocínio?

[2021-11-24 01:37] tiidadavena commented on #326
Acho válido o envio, mas como não consta no contrato, creio que pode servir mais para as empresas interessadas no ano que vem. Caso prefiram enviá-los para os patrocinadores deste ano, creio que enviá-los antes da coleta de feedbacks pode enviesar positivamente nas respostas finais.

Sobre os dados, onde posso encontrá-los, e sim, com certeza precisarei de ajuda para reuni-los. 😂

[2021-11-24 01:37] cecivieira commented on #226
**Ouro**
- [x] Agradecimento no início de cada dia de evento
- [x] Exposição da marca no site
- [x] Exposição da marca durante os intervalos das palestras
- [x] Exposição da marca na abertura das palestras (versão final do vídeo a ser upado para o youtube)
- [x] Exposição da marca durante toda a grade de palestra (background do StreamYard)
- [x] Apresentação do vídeo institucional na abertura das

[2021-11-24 01:37] #226 closed

[2021-11-24 01:37] cecivieira commented on #240
**Ouro**
- [x] Agradecimento no início de cada dia de evento
- [x] Exposição da marca no site
- [x] Exposição da marca durante os intervalos das palestras
- [x] Exposição da marca na abertura das palestras (versão final do vídeo a ser upado para o youtube)
- [x] Exposição da marca durante toda a grade de palestra (background do StreamYard)
- [x] Apresentação do vídeo institucional na abertura das

[2021-11-24 01:37] #240 closed

[2021-11-24 01:42] cecivieira commented on #203
Patrocínio recebido em 17/11

[2021-11-24 01:42] #203 closed

[2021-11-24 01:43] cecivieira commented on #252
**Ouro**
- [x] Agradecimento no início de cada dia de evento
- [x] Exposição da marca no site
- [x] Exposição da marca durante os intervalos das palestras
- [x] Exposição da marca na abertura das palestras (versão final do vídeo a ser upado para o youtube)
- [x] Exposição da marca durante toda a grade de palestra (background do StreamYard)
- [x] Apresentação do vídeo institucional na abertura das

[2021-11-24 01:43] #252 closed

[2021-11-24 01:43] cecivieira commented on #227
**Prata**
- [x] Agradecimento no início de cada dia de evento
- [x] Exposição da marca no site
- [x] Exposição da marca durante os intervalos das palestras
- [x] Exposição da marca na abertura das palestras (versão final do vídeo a ser upado para o youtube)
- [x] Post nas redes sociais antes do evento
- [x] Post nas redes sociais durante o evento (agendada)
- [x] Post nas redes sociais pós evento

[2021-11-24 01:43] #227 closed

[2021-11-24 01:43] cecivieira commented on #228
**Prata**
- [x] Agradecimento no início de cada dia de evento
- [x] Exposição da marca no site
- [x] Exposição da marca durante os intervalos das palestras
- [x] Exposição da marca na abertura das palestras (versão final do vídeo a ser upado para o youtube)
- [x] Post nas redes sociais antes do evento
- [x] Post nas redes sociais durante o evento (agendada)
- [x] Post nas redes sociais pós evento

[2021-11-24 01:43] #228 closed

[2021-11-24 01:44] cecivieira commented on #269
**Prata**
- [x] Agradecimento no início de cada dia de evento
- [x] Exposição da marca no site
- [x] Exposição da marca durante os intervalos das palestras
- [x] Exposição da marca na abertura das palestras (versão final do vídeo a ser upado para o youtube)
- [x] Post nas redes sociais antes do evento
- [x] Post nas redes sociais durante o evento (agendada)
- [x] Post nas redes sociais pós evento

[2021-11-24 01:44] #269 closed

[2021-11-24 01:56] cecivieira commented on #48
Todas as contrapartidas para patrocinadoras foram cumpridas.
Acompanhamento:
#269 #255 #252 #240 #228 #227 #226 #

[2021-11-24 01:56] #48 closed

[2021-11-24 01:57] #319 closed

[2021-11-24 02:02] cecivieira commented on #139
Incluída aba "Fluxo de Caixa", onde é possível verificar patrocínios e despesas previstas e efetivadas.
Última atualização em 23/11

[2021-11-24 11:46] gabubellon commented on #335
@alynnefs  eu fiz uma arte generica, mas tá no outro pc, logo subo no drive

[2021-11-24 11:46] gabubellon commented on #325
@alynnefs  acho que vale um link na home não ?

[2021-11-25 01:02] tiidadavena commented on #184
Solicitei confirmação da data com a MELI mas era até 60 dias depois da assinatura do contrato.

[2021-11-25 01:03] tiidadavena commented on #184
Era a Ordem de Compra, mas enviamos assim que foi gerada no final de setembro.

[2021-11-25 16:26] tiidadavena commented on #184
O pagamento será entre os dias 9 e 14/12.

“ El pago se estará realizando entre los días 9 y 14/12” - devolutiva da MELI hoje.

[2021-11-29 18:11] rougeth commented on #326
Acho que isso pode ser feito em conjunto com a org de 2022. Usar os dados para puxar patrocínio para o ano que vem.

[2021-11-29 19:45] cecivieira commented on #337
@gabubellon traduzi o formulário, mas não entendi se nessa questão precisamos de tanto detalhamento nas respostas
![image](https://user-images.githubusercontent.com/30605862/143932517-1b5bdff7-bd1e-4ce0-8d5c-ba40e91dfe2a.png)

[2021-12-08 21:43] cecivieira commented on #320
@alynnefs a documentação (boleto e nota fiscal) foram recebidos por nós? Já conseguimos efetuar essa doação?
Pergunto para publicitar nas redes sociais

[2021-12-09 21:42] alynnefs commented on #320
@cecivieira tô aguardando informações sobre a nota fiscal

[2021-12-10 16:50] cecivieira commented on #320
@alynnefs aguardando a Mães da Favela responder com a Nota Fiscal?

[2021-12-10 16:58] cecivieira commented on #320
Ticket: https://pythonbrasil.freshdesk.com/a/tickets/7894

@alynnefs posso seguir o contato com a Mães da Favela? Eu responderia o e-mail pedindo o telefone de Ivone e reforçando o pedido da Nota Fiscal.

[2021-12-10 17:00] cecivieira commented on #320
E-mail lembrete emviado para Mães da Favela

[2021-12-10 17:01] alynnefs commented on #320
@cecivieira desculpa, acho que o e-mail se perdeu no meio do spam e não tô com o freshdesk logado no pc do trabalho :(

Se conseguir seguir com isso, eu agradeço. Mas a gente ainda não recebeu o boleto, então podem não querer gerar a nota agora. Só seria bom confirmar se podem fazer, aí a gente pede os dois

[2021-12-10 17:41] cecivieira commented on #320
@alynnefs vou pegar essa tarefa pra fazer.

Entrei em contato com a presidente da CUFA PE pelo whastapp e ela encaminhou a nossa demanda para a organização nacional. Em caso não tendo resposta da organização nacional  da CUFA até dia 15 dez. 2021, poderíamos proceder essa doação para o projeto Mães da Favela da CUFA PE?

[2021-12-10 17:42] gabubellon commented on #320
@cecivieira  De Acordo

[2021-12-10 17:44] alynnefs commented on #320
@cecivieira por mim tudo bem. Mas pergunta da NF 😅

[2021-12-10 17:44] cecivieira commented on #320
@alynnefs emite nota fiscal sim

[2021-12-10 19:07] cecivieira commented on #320
Devido a impossibilidade da organização CUFA nacional emitir nota fiscal, faremos a doação diretamente para o projeto Mães da Favela da CUFA PE.

Ticket do contato com a CUFA PE: https://pythonbrasil.freshdesk.com/a/tickets/7911

[2021-12-13 15:07] cecivieira commented on #320
@alynnefs @gabubellon
recebemos a nota fiscal da CUFA PE, nela constam os dados para pagamento. Encaminharei para @mazulo

[2021-12-13 15:15] cecivieira commented on #320
Nota encaminhada para financeiro@python.org.br

[2021-12-21 19:00] gabubellon commented on #320
@cecivieira podemos considerar esse feito certo ?

[2021-12-21 19:20] cecivieira commented on #320
Doação realizada em 17 dez. 2021

[2021-12-21 19:20] #320 closed

[2021-12-21 21:17] cecivieira commented on #143
Divulgação realizada:
https://twitter.com/pythonbrasil/status/1473402076717895689

[2021-12-21 21:17] #143 closed

[2021-12-25 22:51] cecivieira commented on #148
Patrocínio recebido em 02 dez 2021

[2021-12-25 22:51] #148 closed

[2021-12-25 22:53] cecivieira opened #344 "Consolidar fluxo de caixa do evento"
### Descrição
Consolidar fluxo de caixa (entradas e despesas) realizadas durante o evento, bem como o saldo o deficit.

### Requisitos para a atividade ser considerada como concluída

- Fluxo de caixa aprovado por @alynnefs
- Publicá-lo no site do evento

[2021-12-25 22:54] cecivieira commented on #344
Fluxo de caixa:
https://docs.google.com/spreadsheets/d/1pz619Ma2K9mv6N2vdn1CdzzmHZ7yePuHN85CxKFZ0H0/edit#gid=228361764

Consolidação realizada conforme extratos bancários da APyB, fornecidos por @mazulo .
Aguardando aprovação de @alynnefs

[2021-12-25 23:04] cecivieira commented on #344
Aguardando resposta da atual gestão da APyB sobre percentual de retenção: @mazulo

Os 10% que fica para a APyB é sobre todo o patrocínio recebido? Ou sobre toda a movimentação de dinehiro realizada no evento?

[2021-12-25 23:08] cecivieira commented on #321
Tais critérios ficaram a cargo da Associação Python Brasil, conforme relatado em ata:

https://t.co/YZUm6X47Ah

"Após a eleição dos conselhos e diretoria, foi levantada a sugestão para a criação de um fundo para apoio de grupos menos representados, tendo recursos oriundos de um percentual de sobras de recursos arrecadados de patrocínios na organização de eventos apoiados pela associação Python Bra

[2021-12-25 23:08] #321 closed

[2021-12-25 23:09] cecivieira commented on #157
Proposta aprovada na assembleia da Associação Python Brasil em 14 nov. 2021:

Ata: https://t.co/YZUm6X47Ah

"Após a eleição dos conselhos e diretoria, foi levantada a sugestão para a criação de um fundo para apoio de grupos menos representados, tendo recursos oriundos de um percentual de sobras de recursos arrecadados de patrocínios na organização de eventos apoiados pela associação Python Brasil.

[2021-12-25 23:12] cecivieira commented on #139
Todos os patrocínios recebidos, conforme relatado no fluxo de caixa do evento:

https://docs.google.com/spreadsheets/d/1pz619Ma2K9mv6N2vdn1CdzzmHZ7yePuHN85CxKFZ0H0/edit#gid=228361764

* O fluxo de caixa em breve poderá ser encontrado no site do evento

[2021-12-25 23:12] #139 closed

[2021-12-25 23:12] #43 closed

[2021-12-25 23:14] cecivieira commented on #179
@alynnefs dado que não temos resposta nessa issue (@belaaiza ) desde outubro, acredito que ela pode ser fechada e dada como não concluída.

[2021-12-25 23:14] cecivieira commented on #178
@alynnefs dado que não temos resposta nessa issue (@anadulce ) desde outubro, acredito que ela pode ser fechada e dada como não concluída.

[2021-12-29 21:18] alynnefs commented on #344
@gabubellon @muriloviana podem verificar se os reembolsos de vcs estão corretos/atualizados?

[2021-12-29 21:21] gabubellon commented on #344
Tudo certo os meus

[2021-12-29 21:25] alynnefs commented on #344
aprovado 😃

[2021-12-29 22:11] alynnefs commented on #184
patrocínio recebido em 09/12/2021

[2021-12-29 22:11] #184 closed

[2021-12-29 22:13] alynnefs commented on #343
@tiidadavena ficou bom. A gente precisa traduzir pra alguma empresa? No MELI tem gente que fala português ou só espanhol mesmo?

[2021-12-29 22:14] alynnefs commented on #337
Acho que perdemos o tempo de enviar o formulário, ainda acham válido? Acredito que poucas pessoas responderiam

[2021-12-29 22:16] alynnefs commented on #330
Gente, pra limpar as respostas é só tirar nomes de pessoas e afins? posso começar a fazer?

[2021-12-30 11:18] cecivieira commented on #344
Conforme informado por @mazulo , o estatuto da APyB prevê retenção de 10% em cima do valor do ingresso do evento. Como o evento PyBR2021 foi gratuito, logo não haverá nenhum tipo de retenção.

![image](https://user-images.githubusercontent.com/30605862/147747259-b93d42f9-197a-4711-ade4-2ded13d7add7.png)

[2021-12-30 13:09] cecivieira commented on #344
Aberto pull request para publicação da prestação de contas no site:
https://github.com/pythonbrasil/pybr2021-site/pull/85

[2021-12-30 13:10] #344 closed

[2022-01-19 11:43] cecivieira commented on #216
@gabubellon foram enviados os certificados para as ministrantes de tutoriais e palestras?

[2022-01-19 11:47] cecivieira commented on #338
@anadulce @muriloviana @tiidadavena vocês poderiam criar uma pasta dentro do Drive eventos@ e me dá acesso, por favor?
Assim, faço a transferência dos arquivos e organizo-os

[2022-01-19 12:06] cecivieira opened #345 "[Reunião] Geral: 20 abr. 2021"
_[Remover antes de abrir o ticket] Este template deve ser editado com os itens a serem discutidos durante a reunião. Toda colaboração é bem vinda. Durante a reunião devem ser registradas as participantes e as decisões tomadas, caso hajam informações sensíveis, deve ser criado um arquivo no [Google Drive da organização da Python Brasil 2021](https://drive.google.com/drive/folders/18zvyKpV42k_n_8Sr4

[2022-01-19 12:07] #345 closed

[2022-01-19 12:15] gabubellon commented on #216
@cecivieira Não, nem gerados foram precisamos ter a lista de pessoas e gerar

[2022-01-19 17:34] cecivieira commented on #216
@gabubellon Quais os dados necessários? Nome, título e data da palestra?

[2022-01-19 18:15] gabubellon commented on #216
Se tiver mais de uma palestra/tutorial, tem que duplicar a info

[2022-01-19 19:14] rougeth commented on #216
@cecivieira Tem demanda para esses certificados?

[2022-01-19 19:33] cecivieira commented on #216
@rougeth não sei, pois não tô acessando o freshdesk.
Tô considerando essa atividade para fechar o ciclo desse evento.

[2022-01-24 19:16] cecivieira commented on #338
@anadulce @muriloviana @tiidadavena @rougeth
Oláááá
Tô esperando a pasta relativa a PyBR2021 no Drive de eventos@ . Seria possível criar a pasta essa semana?

[2022-01-24 19:48] cecivieira commented on #334
Ao enviar e-mail, informar que não será enviado o brinde .

[2022-01-24 20:14] cecivieira commented on #334
Dados para geração de certificados:

https://docs.google.com/spreadsheets/d/1M-koe0XYuYyNpWBMBasT3ph19XhrdcQxRfNeTDoyvoA/edit?usp=sharing

[2022-01-24 20:20] rougeth commented on #338
@cecivieira ainda estamos sem acesso as contas da APyB, dito isso, os arquivos podem ser organizados antes de migrados, né?

ps: agora, mencionar o @pythonbrasil/apyb notifica a gente :)

[2022-01-24 20:47] muriloviana commented on #338
@cecivieira criei a pasta, você pode me passar seu email para liberar seu acesso? Pode ser via Telegram se quiser.

@rougeth já tô com acesso ao Drive da APyB, te adicionei lá.

[2022-01-24 20:54] gabubellon commented on #334
@cecivieira não entendi qual aba eu devo utilizar ? Tem abas com filtros aplicados, importante não ter esse filtro

Todavia o ambiente que gera os arquivos eu desliguei, vou precisar configurar tudo acho vai vai umas 2hs, não se consigo fazer hoje (24/01) ou essa semana.

Me chama no telegram se for melhor pra agilizar essa coisas

[2022-01-24 21:20] cecivieira commented on #334
@gabubellon limpei a planilha e deixei apenas as 2 abas a serem consideradas. A aba "es_fonte_talks" são dados das palestras da trilha em espanhol, então seria interessante os certificados estarem nesse idioma também.

Já já coloco uma proposta de arte para os certificados aqui.

[2022-01-24 22:13] cecivieira commented on #142
@gabubellon
inseridos dados relativos ao perfil sociocultural das pessoas ministrantes de atividades (tutoriais e palestras)
https://github.com/pythonbrasil/dados/pull/10

[2022-01-24 22:25] cecivieira commented on #334
Vê se essas coordenadas fazem sentido (x,y):

Nome da ministrante: 401.273, 410,332
Texto do meio: 407.838, 370.793
Título: 407.838, 318.793

Imagem base: https://drive.google.com/file/d/1wtvexywTrxVA6n9OzU2Z4AwQ907GaB41/view?usp=sharing

[2022-01-24 22:26] cecivieira commented on #142
@gabubellon Tem mais algum dado que tu ache que ainda precise ser aberto? Se não, fecha essa issue, por favor

[2022-01-24 22:33] cecivieira commented on #338
Obrigadaaa!!!

Justificando a cobrança:

Tô organizando desde a semana passada.
Pela origem dos arquivos se tratar de uma conta pessial, não conseguiremos apenas trocar a propriedade dos arquivos, então precisarei baixar na minha máquina e subir. Pela experiência que tive no trabalho, fazer isso com todos os arquivos de uma só vez gera uma quantidade grande de duplicações, pois a plataforma vai te

[2022-01-25 13:58] cecivieira commented on #334
@pythonbrasil/apyb Tentei logar no MailChimp com o e-mail eventos@, mas informa que não existe mais conta associada a esse e-mail. Seria possível fornecer as credenciais para envio dos certificados?

![image](https://user-images.githubusercontent.com/30605862/150990417-780501a8-b994-47b9-a1b9-f784fd4a20a7.png)

[2022-01-25 14:03] cecivieira opened #346 "CFT: conclusão"
### Descrição
Reunir nesta issue as informações sobre a conclusão do CTF, exemplo: ranking, premiação, etc.

### Requisitos para a atividade ser considerada como concluída

- Disponibilizar na issue o relatório enviado pelo organizador do CTF

[2022-01-25 22:03] cecivieira commented on #332
Sim.
Todos os certificados de participantes foram enviados.

[2022-01-25 22:03] #332 closed

[2022-01-25 22:04] cecivieira commented on #333
Não foram enviados esses certificados.
Aguardando acesso ao MailChimp

[2022-01-25 22:36] gabubellon commented on #334
@cecivieira @anadulce certificados gerados em https://docs.google.com/spreadsheets/d/1I6zQsbGgoqz_h8TOCWEp0iySZH9xgHLLy0NH9AVNoLI/edit#gid=939059366

[2022-01-27 11:48] cecivieira commented on #334
Enviados

Noma pasta dos certificados: https://drive.google.com/drive/u/0/folders/1ehog6iX3Yz-BbDmiNMxBcZjo1zRR_uTg

[2022-01-27 11:48] #334 closed

[2022-01-27 11:54] cecivieira commented on #333
Pasta com certificados: https://drive.google.com/drive/u/0/folders/1TvTTgDP5ePAvKhY1VrM8wa7vfHVZNlMH

[2022-01-27 23:58] cecivieira commented on #333
Certificados enviados

[2022-01-27 23:58] #333 closed

[2022-02-02 16:28] Flaviasv commented on #346
Poney acrescentou algumas informações e bolei um textinho assim: "A PyBR2021 teve campeonato CTF realizado pela eFlag! Rolou muita interação no chat, com desafios super fáceis (como decodificar um código em base64) até desafios super difíceis (explorando vulnerabilidades em sistema reais como Django, Flask e Confluence). O top 3 ganhou prêmios em dinheiro! Você pode ver os detalhes nesse relatório

[2022-02-10 10:28] cecivieira commented on #178
Esse script não foi localizado. Devido s isso essa issue não tem resolução e será fechada.

[2022-02-10 10:29] #178 closed

[2022-02-10 10:29] #179 closed

[2022-02-10 10:31] cecivieira commented on #41
Devido s funcionalidade de close caption do YouTube, não será necessária  contratação de empresa para legendar os vídeos

[2022-02-10 10:31] #41 closed

[2022-02-10 12:12] cecivieira commented on #346
@Flaviasv o relatório é da prefeitura municipal de Teresinha. Tá certo isso?

![image](https://user-images.githubusercontent.com/30605862/153406475-2a1c973b-88b9-405e-b33b-0b584c32db1c.png)

[2022-02-10 12:48] cecivieira opened #347 "Criar onboarding para próxima organização"
### Descrição
Estruturar onboarding para a organização da PyBr2022 com objetivo de ser uma metodologia teste a ser reproduzida pela @pythonbrasil/apyb nas próximas organizações do evento.

Usar como base o [Manual do big kahuna da python brasil](manual.pythonbrasil.org.br.)

### Requisitos para a atividade ser considerada como concluída

- Estrutura do programa de onboarding
- Slides

[2022-02-10 14:07] cecivieira commented on #347
# Onboarding para equipe organizadora da Python Brasil

- **Público alvo:** Big Kahuna e Equipe organizadora da próxima PyBr
- **Período de realização:** Entre 12 e 10 meses antes da realização do evento
- **Responsáveis:** APyB e membras da organização do evento anterior

## Estrutura
### 1. reunião
1. Boas vindas
2. Apresentar agenda
2. O que é Python Brasil desde uma perspectiva de gestão (proj

[2022-02-10 23:20] rougeth commented on #347
Considerando que o time tem dois anos para organizar a Python Brasil, acho que podemos dividir esse doc em duas partes:
1. Tudo que pode ser adiantado no primeiro ano, como desenvolvimento de identidade visual ou levantamento de custo para viabilização.
2. A passagem de bastão entre uma organização e a outra. Exemplos: detalhamento do que funcionou ou não, contatos dos patrocinadores, etc.

Dito i

[2022-02-11 19:19] cecivieira commented on #347
@rougeth troquei o link do manual da big kahuna. Obrigada!

Então, a proposta seria extender a proposta de onboarding para englobar acompanhamento? O 1. encontro seria dividido em 2, sendo o primeiro realizado entre 24 e 22 meses antes do evento e o segundo entre 12 e 10 meses?

[2022-02-11 19:44] rougeth commented on #347
Sim. A org não pode (ou não deveria) começar a trabalhar apenas 1 anos antes do evento. A proposta da cidade sede é votada em assembleia dois anos antes da execução do evento, todo esse tempo precisa ser melhor aproveitado.

[2022-02-13 15:02] Flaviasv commented on #346
[Relatorio_final_-_Python_Brasil_2021.pdf](https://github.com/pythonbrasil/pybr2021-org/files/8055787/Relatorio_final_-_Python_Brasil_2021.pdf)

[2022-02-14 14:33] gabubellon commented on #347
@cecivieira Primeirto, execelente iniciativa

Alguns desses pontos pode ser "estáticos" não, talvez serem sempre evoluidos, mas podemos pensar que alguns dessas cerimonias/contéudos possam criados (texto/videos) e usados de forma assincrona e atemporal
Podemos até ser usados por eventos que não a PythonBrasil.

Visto dessa forma penso que isso possa até ser um complemento do manual do Big Karuha.

[2022-02-17 01:10] cecivieira commented on #347
@gabubellon aproveitamos pós reunião da PyBr22 para começar a mexer na estrutura. Rola pra tu uma reunião quarta-feira entre 8h30 e 9h30?

Modificações em curso: https://hackmd.io/@IAA8H7ZURCejO-4Zz31Dug/rkuWWzik5 (paramos no pós-evento)

[2022-02-17 16:07] cecivieira commented on #347
Esta discussão foi transferida para o espaço de discussão da APyB:
https://github.com/apyb/comunidade/discussions/10

[2022-02-17 16:07] #347 closed

[2022-05-17 18:05] alynnefs commented on #343
vou fechar a issue porque acho que não faz sentido enviar pedido de feedback depois de tanto tempo. Qualquer coisa, podem reabrir

[2022-06-04 22:03] cecivieira opened #349 "Atualizar repositório de palestras"
### Descrição
Enviar dados de palestra para repositório https://github.com/pythonbrasil/talks

### Requisitos para a atividade ser considerada como concluída

- PR aberto